<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Gifferize!</title>
  </head>
  <body>
    <div id="" class="">
      Welcome to Gifferize!
    </div>
    <br />
    <div id="" class="">
      <form name="mainForm" method="Post" action="/display">
        <table width="" cellspacing="" cellpadding="" border="0">
          <tr>
            <td>YouTube Link: </td>
            <td><input type="text" name="link" value="" /></td>
          </tr>
          <tr>
            <td>Start Time: </td>
            <td><input type="text" name="start" value="" /> </td>
          </tr>
          <tr>
            <td>End Time: </td>
            <td><input type="text" name="end" value="" />  </td>
          </tr>
          <tr>
            <td>
              <input type="submit" name="submit" value="Submit" />
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div id="" class="">
      Let me turn that youtube link into a gif for you!
    </div>
    <br />
    <div id="" class="">
      <a href="">About</a>
    </div>
  </body>
</html>
